{% extends 'main/template.html' %}
{% load static %}
{% get_media_prefix %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1 style="text-align: center"> Постановки </h1>
{% if plays %}
<div class="navitems_plates" style="text-align: center">
    {% for el in plays %}
    <div class="navitems_plate">
        <a href="{% url 'play' %}?play_id={{ el.play_id }}" class="nav-link">
            <div class="navitems_plate_more">
                <div class="navitems_plate_name"> {{ el.game.title }} {{ el.year }}</div>
            </div>
            <div class="navitems_plate_avatar"><img src="{{ MEDIA_ROOT }}{{ el.game.image.url }}"></div>
        </a>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Постановки отсутствуют!</p>
{% endif %}
{% endblock %}