{% extends 'main/template.html' %}
{% load static %}
{% get_media_prefix %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1 style="text-align: center"> Игры </h1>

{% if games %}
<table>
    <tr>
        <th>Игра</th>
        <th>Сессии</th>
    </tr>

    {% for el in games reversed %}
    <tr>
        <div class="navitems_plate_more">
            <td>
                <h3>
                    <a href="{% url 'game' %}?id={{ el.id }}" class="nav-link">
                        <div class="navitems_plate_name"> {{ el.title }}, игроков: {{el.capacity}}</div>
                        <div class="navitems_plate_avatar"><img src="{{ MEDIA_ROOT }}{{ el.image.url }}"></div>
                    </a>
                </h3>
            </td>
        </div>

        <td>
            {% if plays_list %}
            {% for game, plays_for_the_game in plays_list.items %}
            {% if game == el %}
            <h6>Постановки:</h6>
            {% for play in plays_for_the_game %}
            <a href="{% url 'play' %}?id={{ play.id }}" class="nav-link">
                <div class="navitems_plate_name"> {{ play }}</div>
            </a>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% else %}
            <p>По этой игре ещё нет постановок!</p>

            {% endif %}

        </td>
    </tr>
    {% endfor %}
    </div>
</table>
{% else %}
<p>Игры отсутствуют!</p>
{% endif %}
{% endblock %}