{% extends 'main/template.html' %}

{% block title %}
Игра {{ this_game.title }}
{% endblock %}

{% block content %}
<h1> Название: {{ this_game.title }}</h1>
<h3> Описание: {{ this_game.description }}</h3>
<img src="{{ MEDIA_ROOT }}{{ this_game.image.url }}"><br><br>

<a href="{% url 'delete_game'%}?game_id={{this_game.game_id}}" class="btn btn-danger">
    <b class="bi bi-x-circle">Удалить игру</b>
</a><br><br>

{% if plays %}
<h4>Постановки:</h4>
{% for play in plays %}
<a href="{% url 'play' %}?play_id={{ play.id }}" class="nav-link">
    <li class="navitems_plate_more">{{ play }}
    </li>
</a>
{% endfor %}
{% else %}
<p>По этой игре ещё нет постановок!</p>
{% endif %}
{% endblock %}